version: '2.1'
services:
  entity:
    build: regexp-entity
    image: arsenal-docker.cse.sri.com/regexp-entity:latest
    environment:
      HOST: entity
      PORT: 8080
    ports:
      - 8060:8080
  nl2cst:
    build: ../transformers
    image: arsenal-docker.cse.sri.com/arsenal-nl2cst-transformers:latest
    volumes:
      - ./models/:/opt/models:ro
    environment:
      NL2CST_HOST: nl2cst
      NL2CST_PORT: 8080
      MODEL_ROOT: /opt/models/transformers/06-07-2022/translation_model
      NUM_BEAMS: 1
      NUM_OUTPUTS: 1
      TYPE_FORCING: 0
      BATCH_SIZE: 10
      CLEAN_INPUT: 0
    ports:
      - 8070:8080
  ui:
    build:
      context: regexp-ui
      dockerfile: docker/Dockerfile
    image: arsenal-docker.cse.sri.com/regexp-ui:latest
    environment:
      HOST: ui
    ports:
      - 8080:8080
  reformulate:
    image: sricsl/effigy-reformulate:latest
    ports:
      - 8090:8080
